.buttplug__info {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1em;
	padding: 1em;
	box-sizing: border-box;
	z-index: 1000;
	overflow-y: auto;
	pointer-events: auto;
}

.buttplug__info_controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.5em 0;
}

.buttplug__info_controls button {
	width: 48%;
	padding: 0.5em;

	background: transparent;
	border: 1px solid white;
	color: white;
}

ul.buttplug__info_devices,
ul.buttplug__info_devices ul {
	list-style-type: square;
	padding-left: 1em;
}

li.buttplug__info_device,
ul.buttplug__info_devices ul li {
	margin: 0;
}

.buttplug__info_status_text {
	font-weight: bold;
	color: #a9cf52;
}

.buttplug__info_status_text.buttplug__info_status_text_disconnected {
	color: #ffaabb;
}
